/* Color Palette

https://coolors.co/f7fff7-343434-2f3061-ffe66d-a1c6d7

#F7FFF7 - almost white
#343434 - dark gray - almost black
#2F3061 - blue dark
#FFE66D - yellow
#A1C6D7 - blue light
*/

/* Select the images */

/* Global Styles
----------------------------------------*/
body {
    color: #343434;
}


img {
    width: 300px;
}

a {
    color: #FFE66D;
}

/* Hover color over links*/
a:hover {
    text-decoration: none;
}

/* Profile
----------------------------------------*/
header {
    background: #2F3061;
    color: #F7FFF7;
}

/* Projects
----------------------------------------*/
.projects {
    background: #F7FFF7;
}

.projects a {
    color: #A0C4FF;
}

.projects a:hover {
    background: #023E8A;
}

/* Override link using descendant selector as bg is light, yellow looks bad */

.projects .btn {
    color: #F7FFF7;
    background: #2F3061;
    /*Remove underline in link*/
    text-decoration: none;
    /* Padding to add space between words to make it look like button*/
    padding: 8px;
    /* Rounding corners for button effect, bigger the number more rounded edges will be */
    border-radius: 4px;
    /* Hover style using opacity https://www.webfx.com/web-design/hex-to-rgb/*/
}

.projects .btn:hover {
    /* alpha (a) for opacity */
    background: rgba(47, 48, 97, 80%);
}

/* Work Experience
----------------------------------------*/
.work-experience {
    background: #A1C6D7;
}

/* Education
----------------------------------------*/


/* Contact Info
----------------------------------------*/
footer {
    background: #343434;
    color: #F7FFF7;
}